@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(252, 252, 181);
    padding: 20px;
    width: 100%;
    height: 150px;
}

header a{
    text-decoration: none;
    color: rgb(96, 202, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header ul li{
    margin: 10px;
}

header img{
    width: 300px;
    height: auto;
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    align-items: flex-start;
}

img{
    width: 150px;
}


.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0 10px;
    background-color: rgb(166, 221, 249);
}
    
.caja{
    width: 100%;
    height: 100%;
    margin: 20px 0 20px 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.caja img{
    border-radius: 25%;
    display: flex; 
    padding: 5px;
    align-items: center;
    justify-content:flex-start;
}

.caja h1{
    color: yellow;
    font-size: 20px;
    padding: 5px;
}
.caja h2{
    color: yellow;
    font-size: 20px;
    padding: 5px;
}
.caja h3{
    color: yellow;
    font-size: 20px;
    padding: 5px;
}
.caja h4{
    color: yellow;
    font-size: 20px;
    padding: 5px;
}

.caja p{
    font-size: 15px;
    justify-content: center;
    color: black;
}


.cajitas h1{
    color: rgb(3, 3, 3);
    font-size: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
   
}
.presentacion{
    background-image: url(IMAGENES/MATERIAL\ PNG.jpeg);
    filter: saturate(0.7);
    opacity: 0.9;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0 20px 0;
    width: 100%;
    height: 70%;
    padding: 80px;
}

.presentacion h1{
    text-align: justify;
    font-family: "Kalam", cursive;
    color: black;
    padding: 10px;
    line-height: 1.6;
    font-size: 25px;
    font-weight: 700; 
}

#atencion img{
    border-radius: 25%;
    display: flex; 
    padding: 50px;
    width: 100%;
    height: 50%;
    margin: 10px 0 10px 0;
    align-items: center;
    flex-direction: row;
}

#nosotros {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nosotros iframe{
    padding: 20px;
    margin: 10px 0 10px 0;
    align-items: center;
}

footer{
    padding: 20px;
    text-align: center;
    font-size: 10px;
    color: black;
}


